@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Customize */
    --header-background: #0f111a;
    --footer-background: #0f111a;
    --primary-color: #ffd875;
    --size-navigation-button: 40px;
    --text-base-color: #aaa;

    /* Default theme of shadcn ui */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#191B24] text-foreground text-sm font-normal text-white overflow-x-hidden;
  }
}

@layer components {
  .container-fluid {
    width: 100%;
    max-width: 1514px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Gradient linear colors */
  .gradient-btn {
    background: linear-gradient(
      39deg,
      rgba(254, 207, 89, 1),
      rgba(255, 241, 204, 1)
    );
  }

  .gradient-btn:hover {
    box-shadow: 0 5px 10px 10px rgba(255, 218, 125, 0.15);
  }

  .gradient-purple {
    background: linear-gradient(
      235deg,
      rgb(255, 255, 255) 30%,
      rgb(103, 65, 150) 130%
    );
  }

  .gradient-primary {
    background: linear-gradient(
      235deg,
      rgb(255, 255, 255) 30%,
      rgb(247, 161, 11) 130%
    );
  }

  .gradient-pink {
    background: linear-gradient(
      235deg,
      rgb(255, 255, 255) 30%,
      rgb(255, 0, 153) 130%
    );
  }

  .gradient-dark {
    background: linear-gradient(
      0deg,
      rgba(47, 51, 70, 1),
      rgba(47, 51, 70, 0.7)
    );
  }

  .gradient-text {
    background: linear-gradient(
      39deg,
      rgba(254, 207, 89, 1),
      rgba(255, 241, 204, 1)
    );
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar but keep scroll functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Custom clip path polygon */
  .clip-polygon {
    -webkit-clip-path: polygon(
      94.239% 100%,
      5.761% 100%,
      5.761% 100%,
      4.826% 99.95%,
      3.94% 99.803%,
      3.113% 99.569%,
      2.358% 99.256%,
      1.687% 98.87%,
      1.111% 98.421%,
      0.643% 97.915%,
      0.294% 97.362%,
      0.075% 96.768%,
      0 96.142%,
      0 3.858%,
      0 3.858%,
      0.087% 3.185%,
      0.338% 2.552%,
      0.737% 1.968%,
      1.269% 1.442%,
      1.92% 0.984%,
      2.672% 0.602%,
      3.512% 0.306%,
      4.423% 0.105%,
      5.391% 0.008%,
      6.4% 0.024%,
      94.879% 6.625%,
      94.879% 6.625%,
      95.731% 6.732%,
      96.532% 6.919%,
      97.272% 7.178%,
      97.942% 7.503%,
      98.533% 7.887%,
      99.038% 8.323%,
      99.445% 8.805%,
      99.747% 9.326%,
      99.935% 9.88%,
      100% 10.459%,
      100% 96.142%,
      100% 96.142%,
      99.925% 96.768%,
      99.706% 97.362%,
      99.357% 97.915%,
      98.889% 98.421%,
      98.313% 98.87%,
      97.642% 99.256%,
      96.887% 99.569%,
      96.06% 99.803%,
      95.174% 99.95%,
      94.239% 100%
    );
    clip-path: polygon(
      94.239% 100%,
      5.761% 100%,
      5.761% 100%,
      4.826% 99.95%,
      3.94% 99.803%,
      3.113% 99.569%,
      2.358% 99.256%,
      1.687% 98.87%,
      1.111% 98.421%,
      0.643% 97.915%,
      0.294% 97.362%,
      0.075% 96.768%,
      0 96.142%,
      0 3.858%,
      0 3.858%,
      0.087% 3.185%,
      0.338% 2.552%,
      0.737% 1.968%,
      1.269% 1.442%,
      1.92% 0.984%,
      2.672% 0.602%,
      3.512% 0.306%,
      4.423% 0.105%,
      5.391% 0.008%,
      6.4% 0.024%,
      94.879% 6.625%,
      94.879% 6.625%,
      95.731% 6.732%,
      96.532% 6.919%,
      97.272% 7.178%,
      97.942% 7.503%,
      98.533% 7.887%,
      99.038% 8.323%,
      99.445% 8.805%,
      99.747% 9.326%,
      99.935% 9.88%,
      100% 10.459%,
      100% 96.142%,
      100% 96.142%,
      99.925% 96.768%,
      99.706% 97.362%,
      99.357% 97.915%,
      98.889% 98.421%,
      98.313% 98.87%,
      97.642% 99.256%,
      96.887% 99.569%,
      96.06% 99.803%,
      95.174% 99.95%,
      94.239% 100%
    );
  }

  .clip-polygon-reverse {
    -webkit-clip-path: polygon(
      5.761% 100%,
      94.239% 100%,
      94.239% 100%,
      95.174% 99.95%,
      96.06% 99.803%,
      96.887% 99.569%,
      97.642% 99.256%,
      98.313% 98.87%,
      98.889% 98.421%,
      99.357% 97.915%,
      99.706% 97.362%,
      99.925% 96.768%,
      100% 96.142%,
      100% 3.858%,
      100% 3.858%,
      99.913% 3.185%,
      99.662% 2.552%,
      99.263% 1.968%,
      98.731% 1.442%,
      98.08% 0.984%,
      97.328% 0.602%,
      96.488% 0.306%,
      95.577% 0.105%,
      94.609% 0.008%,
      93.6% 0.024%,
      5.121% 6.625%,
      5.121% 6.625%,
      4.269% 6.732%,
      3.468% 6.919%,
      2.728% 7.178%,
      2.058% 7.503%,
      1.467% 7.887%,
      0.962% 8.323%,
      0.555% 8.805%,
      0.253% 9.326%,
      0.065% 9.88%,
      0 10.459%,
      0 96.142%,
      0 96.142%,
      0.075% 96.768%,
      0.294% 97.362%,
      0.643% 97.915%,
      1.111% 98.421%,
      1.687% 98.87%,
      2.358% 99.256%,
      3.113% 99.569%,
      3.94% 99.803%,
      4.826% 99.95%,
      5.761% 100%
    );
    clip-path: polygon(
      5.761% 100%,
      94.239% 100%,
      94.239% 100%,
      95.174% 99.95%,
      96.06% 99.803%,
      96.887% 99.569%,
      97.642% 99.256%,
      98.313% 98.87%,
      98.889% 98.421%,
      99.357% 97.915%,
      99.706% 97.362%,
      99.925% 96.768%,
      100% 96.142%,
      100% 3.858%,
      100% 3.858%,
      99.913% 3.185%,
      99.662% 2.552%,
      99.263% 1.968%,
      98.731% 1.442%,
      98.08% 0.984%,
      97.328% 0.602%,
      96.488% 0.306%,
      95.577% 0.105%,
      94.609% 0.008%,
      93.6% 0.024%,
      5.121% 6.625%,
      5.121% 6.625%,
      4.269% 6.732%,
      3.468% 6.919%,
      2.728% 7.178%,
      2.058% 7.503%,
      1.467% 7.887%,
      0.962% 8.323%,
      0.555% 8.805%,
      0.253% 9.326%,
      0.065% 9.88%,
      0 10.459%,
      0 96.142%,
      0 96.142%,
      0.075% 96.768%,
      0.294% 97.362%,
      0.643% 97.915%,
      1.111% 98.421%,
      1.687% 98.87%,
      2.358% 99.256%,
      3.113% 99.569%,
      3.94% 99.803%,
      4.826% 99.95%,
      5.761% 100%
    );
  }
}
