.loading-page-wrap {
}

.loading-page-wrap .loading-logo {
  @apply overflow-hidden;
  /* animation: logo-load 2s forwards; */
}

.loading-page-wrap .loading-logo .logo-wrap {
  @apply relative text-white;
}

/* VN flag */
.loading-page-wrap .loading-logo .logo-wrap .vn-flag {
  @apply relative w-full h-[460px] scale-90 overflow-hidden;
  mask-image: linear-gradient(
    0deg,
    transparent 0,
    black 40%,
    black 60%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    0deg,
    transparent 0,
    black 40%,
    black 60%,
    transparent
  );
}

/* Icon tank */
.loading-page-wrap .loading-logo .logo-wrap .tank-simu {
  @apply relative h-[122px] xs:h-[240px] sm:h-[270px] -mt-[162px] z-[3];
  animation: tank-simu 2s linear;
}

/* Gate */
.loading-page-wrap .loading-logo .logo-wrap .gate {
  width: 30px;
  height: 200px;
  background-color: #191b24;
  z-index: 4;
  position: absolute;
  bottom: -20px;
  left: 0;
  animation: gate 2s linear;
  animation-delay: 0.3s;
  opacity: 0;
}

.loading-page-wrap .loading-logo .logo-wrap .gate2 {
  width: 30px;
  height: 200px;
  background-color: #191b24;
  position: absolute;
  bottom: -20px;
  left: 0;
  animation: gate 2s linear;
  opacity: 0;
  width: 23px;
  z-index: 1;
  animation-delay: 0.5s;
}

.loading-page-wrap .loading-logo .logo-wrap .fence,
.loading-page-wrap .loading-logo .logo-wrap .fence2 {
  width: 240px;
  height: 180px;
  background-size: cover;
  background-image: url('/img/fence.webp');
  position: absolute;
  left: 100%;
  bottom: 0;
  z-index: 3;
  animation: fence 1.8s linear;
  animation-delay: 0.3s;
  opacity: 0;
}

.loading-page-wrap .loading-logo .logo-wrap .fence2 {
  animation-delay: 0.6s;
  background-image: url('/img/fence2.webp');
}

/* Animations */
@keyframes gate {
  0% {
    left: 100%;
    opacity: 1;
  }
  75% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

@keyframes gate2 {
  0% {
    left: 100%;
    opacity: 1;
  }
  75% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

@keyframes fence {
  0% {
    left: 100%;
    bottom: 0;
    transform: rotate(-15deg);
    opacity: 1;
  }
  100% {
    left: 0;
    bottom: -150px;
    transform: rotate(50deg);
    opacity: 1;
  }
}

@keyframes tank-simu {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(0);
  }

  45% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes logo-load {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    opacity: 0;
  }
}
